@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>应用说明书</h1>
<div class="container">
    <p>这里是关于您自己应用的功能介绍、安装指南等内容的首页展示。</p>
    <!-- 可以添加导航链接到其他说明书页面 -->
    <a href="/Features">功能指南</a> |
    <a href="/Installation">安装说明</a>
</div>
